In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\vikas\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\vikas\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\vikas\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\vikas\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\vikas\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: sortedcontainers in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: wsproto>=0.14 in c:\users\vikas\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\vikas\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\vikas\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\vikas\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [4]:
import warnings
warnings.filterwarnings('ignore')

# Q1. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [4]:
driver=webdriver.Chrome()

In [5]:
#Opening the Shine page on automated Chrome browser
driver.get("https://www.shine.com/")

In [26]:
# Entering Job Position, Location and Experience required in the question.

job_position=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")

In [27]:
job_position.send_keys('Data Analyst')

In [28]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [30]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [55]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [169]:
#Scraping job title from the given page
title_tag=driver.find_elements(By.XPATH,'//h2[/html/body/div[1]/div[1]/div[4]/div/div[2]/div[1]/div/div/div[1]/div[1]/div[1]/h2]')

In [170]:
for i in title_tag:
    title=i.text
    job_title.append(title)

In [173]:
job=job_title[0:10]

In [159]:
#Scraping location from the given page

location_tag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div[2]')

In [158]:
for i in location_tag:
    location=i.text.replace('Bangalore\n+9','Bangalore')
    job_location.append(location)

In [162]:
job_location=job_location[0:10]

In [135]:
#Scraping company_namen from the given page

company_tag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

In [151]:
for i in company_tag:
    company=i.text
    company_name.append(company)

In [164]:
company_name=company_name[:10]

In [150]:
experience_tag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div[1]')

In [152]:
for i in experience_tag:
    experience=i.text
    experience_required.append(experience)

In [165]:
experience_required=experience_required[:10]

In [176]:
df1=pd.DataFrame({'Job Title':job,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})

In [177]:
df1

,Job Title,Job Location,Company Name,Experience Required
0,Data Analyst Recruitment,Bangalore,kavya interprises,0 to 4 Yrs
1,Data Analyst,Bangalore,hire connect,0 to 1 Yr
2,Vacancy For Data Analyst,Bangalore,kavya interprises,0 to 4 Yrs
3,Project Coordinator (Data Analyst) Bangalore,Bangalore,futures and careers,2 to 4 Yrs
4,Project Coordinator (Data analyst) Bangalore,Bangalore,futures and careers,2 to 4 Yrs
5,Business Data Analyst - Modeling & Profiling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
6,How relevant did you find the job search resul...,Bangalore,boyen haddin consulting and technol...,5 to 10 Yrs
7,Data analyst - Java / Python,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
8,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
9,Data Analyst - SQL/ Database Maintenance,Bangalore\n+9,boyen haddin consulting and technol...,2 to 6 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [181]:
#Opening the Shine page on automated Chrome browser
driver=webdriver.Chrome()
driver.get("https://www.shine.com/")

In [195]:
# Entering Job Position, Location and Experience required in the question.
job_position_1=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
job_position_1.send_keys('Data Scientist')

location_1=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location_1.send_keys('Bangalore')

search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [241]:
job_title1=[]
job_location_1=[]
company_name_1=[]

In [242]:
#Scraping job title from the given page
tab_jobtitle=driver.find_elements(By.XPATH,'//h2[/html/body/div[1]/div[1]/div[4]/div/div[2]/div[1]/div/div/div[1]/div[1]/div[1]/h2]')

for i in tab_jobtitle:
    title_1=i.text
    job_title1.append(title_1)

In [246]:
#Scraping job location from the given page
tab_joblocation=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

for i in tab_joblocation:
    location_1=i.text
    job_location_1.append(location_1)

In [249]:
#Scraping company name from the given page
tab_companyname=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

for i in tab_companyname:
    company_1=i.text
    company_name_1.append(company_1)

In [255]:
job_1=job_title1[2:12]
location_1=job_location_1[:10]
company_1=company_name_1[:10]

In [256]:
df2=pd.DataFrame({'Job Title':job_1,'Location':location_1,'Company Name':company_1})

In [257]:
df2

,Job Title,Location,Company Name
0,Data scientist,Bangalore\n+8,capgemini technology services india...
1,Data Scientist - Business Intelligence,Bangalore,boyen haddin consulting and technol...
2,Data Scientist for Bangalore,Bangalore,get hired
3,Hiring For Data Scientist,Bangalore\n+13,kavya interprises
4,Hiring For Data Scientist,Bangalore\n+13,kavya interprises
5,Data Scientist - Spark/Python/Redshift,Bangalore,boyen haddin consulting and technol...
6,How relevant did you find the job search resul...,Bangalore,boyen haddin consulting and technol...
7,Data Scientist - Machine Learning,Bangalore,ibm india pvt. limited
8,Data Scientist,Bangalore,jpmorgan
9,Data Scientist- Associate,Bangalore\n+14,divya interprises

# Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [272]:
#Opening the Shine page on automated Chrome browser
driver=webdriver.Chrome()
driver.get("https://www.shine.com/")

In [274]:
#Scrape the job-title, job-location, company name, experience required

job_title_2=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
job_title_2.send_keys('Data Scientist')

search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [303]:
location_2=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input')
location_2.send_keys('Delhi')

salary_2=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input')
salary_2.send_keys('3 To 5 Lakh')

search_2=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
search_2.click()

In [5]:
job_title_2=driver.find_elements(By.XPATH,"//h2[@itemprop="name"]")
job_title_2.send_keys('Data Scientist')

location_2=driver.find_elements(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input")
location_2.send_keys('Delhi')

companyname_2=driver.find_elements(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
companyname_2.send_keys('Delhi/NCR')

exp_2=driver.find_elements(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
exp_2.send_keys('Delhi/NCR')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3406031829.py, line 1)

In [307]:
job_title_2=[]
job_location_2=[]
company_name_2=[]
exp_2=[]

In [312]:
#Scraping job title from the given page

tag_job_title_2=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')

for i in tag_job_title_2:
    title_2=i.text
    job_title_2.append(title_2)

In [323]:
#Scraping job location from the given page

tag_job_location_2=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

for i in tag_job_location_2:
    location_2=i.text
    job_location_2.append(location_2)

In [339]:
#Scraping company from the given page

tag_company2=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

for i in tag_company2:
    company_name_2.append(i.text.replace('\n+6',''))

In [342]:
#Scraping experience from the given page
tag_exp2=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

for i in tag_exp2:
    exp_2.append(i.text)

In [344]:
job_2=job_title_2[:10]
location_2=job_location_2[:10]
company_2=company_name_2[:10]
exp2=exp_2[:10]

In [345]:
df3=pd.DataFrame({'Job Title':job_2,'Location':location_2,'Company Name':company_2, 'Experience':exp2})

In [346]:
df3

,Job Title,Location,Company Name,Experience
0,Data Scientist for Delhi,Delhi,Delhi\n+6,0 to 3 Yrs
1,Data Scientist for Delhi,Delhi,Delhi\n+6,0 to 3 Yrs
2,Data Scientist- Delhi,Delhi,Delhi\n+6,0 to 3 Yrs
3,Data Scientist-Delhi,Delhi\n+6,Delhi\n+6,0 to 1 Yr
4,Clinical Data Management,Delhi,Delhi\n+6,0 to 3 Yrs
5,Data Scientist- Delhi,Delhi,Delhi\n+6,0 to 3 Yrs
6,Data Scientist- Delhi,Delhi\n+6,Delhi\n+6,0 to 1 Yr
7,Clinical Data Manager,Delhi\n+4,Delhi\n+6,0 to 4 Yrs
8,Work Full/part-time / Work From Home / Compute...,Delhi\n+4,Delhi\n+6,0 to 4 Yrs
9,Typing Work-Data Entry-Computer Operator-Freel...,Delhi\n+6,Delhi\n+6,0 to 1 Yr

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. Product Description
8. Price

The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.

In [47]:
#Opening the Shine page on automated Chrome browser
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [55]:
sunglass=driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
sunglass.send_keys('sunglasses')

searchflipkart=driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
searchflipkart.click()

In [80]:
brand_name=[]
product_description=[]
product_price=[]

In [91]:
#Scraping brand of sunglasses from 3 pages
start=0
end=3

for page in range (start,end):
    tag_brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in tag_brand:
        brand_name.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [92]:
#Scraping product_description of sunglasses from 3 pages
start=0
end=3

for page in range (start,end):
    tag_description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in tag_description:
        product_description.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [81]:
#Scraping price of sunglasses from 3 pages
start=0
end=3

for page in range (start,end):
    tag_price=driver.find_elements(By.XPATH,'//div[@class="_25b18c"]')
    for i in tag_price:
        product_price.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [93]:
brand=brand_name[0:100]
description=product_description[0:100]
price=product_price[0:100]

In [94]:
len(brand),len(description),len(price)

(100, 100, 100)

In [95]:
df3=pd.DataFrame({'Brand Name':brand,'Product Description':description,'Price':price})

In [96]:
df3

,Brand Name,Product Description,Price
0,SYGA,"UV Protection, Gradient Oval Sunglasses (Free ...","₹584₹2,59977% off"
1,IDEE,UV Protection Retro Square Sunglasses (56),₹142₹79982% off
2,SYGA,UV Protection Round Sunglasses (53),"₹2,399₹6,00060% off"
3,john jacobs,UV Protection Cat-eye Sunglasses (54),₹129₹49974% off
4,PETER JONES,"UV Protection, Gradient Retro Square Sunglasse...","₹8,309₹10,39020% off"
...,...,...,...
95,HRX by Hrithik Roshan,"UV Protection Butterfly, Retro Square Sunglass...","₹479₹1,99976% off"
96,Ray-Ban,"Polarized, UV Protection Rectangular Sunglasse...","₹799₹2,49968% off"
97,OAKLEY,Gradient Aviator Sunglasses (58),₹175₹99982% off
98,AKAYI,"UV Protection Wayfarer, Rectangular Sunglasses...","₹8,869₹11,09020% off"
99,IRUS,UV Protection Aviator Sunglasses (Free Size),"₹8,869₹11,09020% off"

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. 

You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [97]:
#Opening the flipkart.com for iphone11 page on automated Chrome browser
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [163]:
rating=[]
summary=[]
review=[]

In [169]:
#Scraping rating, summary & reivew from 10 pages
start=0
end=10

for page in range (start,end):
    tag_rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in tag_rating:
        rating.append(i.text)
           
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
    next_button.click()
    time.sleep(3)

In [180]:

start=0
end=10

for page in range (start,end):    
    tag_summary=driver.find_elements(By.XPATH,'//div[@class="col _2wzgFH K0kLPL"]/div[1]')
    for i in tag_summary:
        summary.append(i.text.replace('5\n',''))
        
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
    next_button.click()
    time.sleep(3)

In [191]:
start=0
end=10

for page in range (start,end):
    tag_review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div/div')
    for i in tag_review:
        review.append(i.text)
           
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [193]:
Rating=rating[:100]
Review_summary=summary[:100]
Full_reviwe=review[:100]

In [194]:
print(len(Rating),len(Review_summary),len(Full_reviwe))

100 100 100

In [195]:
df4=pd.DataFrame({'Rating':Rating,'Review Summary':Review_summary,'Full Review':Full_reviwe})

In [196]:
df4

,Rating,Review Summary,Full Review
0,4,4\nGood quality product,iPhone 11 is a good phone. Not a very big diff...
1,5,Super!,Photos super
2,5,Worth every penny,Camera is awesome\nBest battery backup\nA perf...
3,4,4\nWorth the money,Good Camera
4,5,Perfect product!,Feeling awesome after getting the delivery of ...
...,...,...,...
95,5,Classy product,Excellent Phone.
96,5,Terrific,It’s very good battery life and display and vi...
97,5,Simply awesome,Purple is best
98,5,Terrific purchase,NYC
99,5,Mind-blowing purchase,Good product 👌I love iPhone