In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from bs4 import BeautifulSoup
import requests
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
import regex as re

In [2]:
import numpy as np

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos 
You need to find following details: A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome()

In [3]:
#Opening the wikipedia.org page on automated Chrome browser

driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [45]:
all=[]

try:
    all_tag=driver.find_elements(By.XPATH,'//tbody[/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody]/tr/td')
    for i in all_tag:
        all.append(i.text)
except NoSuchElementException:
    all.append('-')

In [60]:
name=all[: :5][:30]

In [61]:
artist=all[1: :5][:30]

In [65]:
views=all[2: :5][:30]

In [68]:
upload_date=all[3: :5][:30]

In [85]:
print(len(name),len(artist),len(views),len(upload_date))

30 30 30 30

In [88]:
df=pd.DataFrame({'Rank':np.arange(1,31),'Name':name,'Artist':artist,'Upload Date':upload_date,'Views(billions)':views})

In [89]:
df

,Rank,Name,Artist,Upload Date,Views(billions)
0,1,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.78
1,2,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.33
2,3,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.85
3,4,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.52
4,5,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.15
5,6,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.11
6,7,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.74
7,8,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.59
8,9,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.10
9,10,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.03
10,11,"""Gangnam Style""[31]",Psy,"July 15, 2012",4.98
11,12,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.57
12,13,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.49
13,14,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.19
14,15,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.97
15,16,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.93
16,17,"""Roar""[41]",Katy Perry,"September 5, 2013",3.92
17,18,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.86
18,19,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.80
19,20,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.78
20,21,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.74
21,22,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.70
22,23,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.65
23,24,"""Dark Horse""[48]",Katy Perry,"February 20, 2014",3.64
24,25,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.61
25,26,"""Shree Hanuman Chalisa""[50]",T-Series Bhakti Sagar,"May 10, 2011",3.57
26,27,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.57
27,28,"""Faded""[52]",Alan Walker,"December 3, 2015",3.56
28,29,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.53
29,30,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.51

# 2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [95]:
#Opening the bcci.tv page on automated Chrome browser
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv/")
delay=10
try:
    element=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
    print(element)
except StaleElementReferenceException as e:
    print("Exception Raised: ",e)
    print("Refershing the page!!")
    driver.get("https://www.bcci.tv/")
    WebDriverWait(driver,delay).until(EC.presence_of_all_elements_located((By.CLASS_NAME,'Fixtures')))
    element=driver.find_element(By.XPATH,"/html/body/header/div[3]/div[2]/ul/div[1]/a[2]")
    print(element)

<selenium.webdriver.remote.webelement.WebElement (session="26b1ed17400ee65621a1f3919f4e09cd", element="7EFDA03C64B0395EDF0BEF049C046FAD_element_88")>

In [96]:
#Searching International Fixture page
search=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
search.click()

In [97]:
series=[]

try:
    series_tag=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in series_tag:
        series.append(i.text)
except NoSuchElementException:
    series.append('-')

In [99]:
place=[]

try:
    place_tag=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
    for i in place_tag:
        place.append(i.text)
except NoSuchElementException:
    place.append('-')

In [101]:
date=[]

try:
    date_tag=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in date_tag:
        date.append(i.text)
except NoSuchElementException:
    date.append('_')

In [104]:
time=[]

try:
    time_tag=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in time_tag:
        time.append(i.text)
except NoSuchElementException:
    time.append('-')

In [107]:
print(len(series),len(place),len(date),len(time))

16 16 16 16

In [108]:
df1=pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':time})

In [109]:
df1

,Series,Place,Date,Time
0,INDIA TOUR OF SOUTH AFRICA 2023-24,"SuperSport Park, Centurion","26 DECEMBER, 2023",1:30 PM IST
1,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","28 DECEMBER, 2023",2:00 PM IST
2,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","30 DECEMBER, 2023",2:00 PM IST
3,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","2 JANUARY, 2024",2:00 PM IST
4,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town","3 JANUARY, 2024",1:30 PM IST
5,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","5 JANUARY, 2024",7:00 PM IST
6,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","7 JANUARY, 2024",7:00 PM IST
7,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","9 JANUARY, 2024",7:00 PM IST
8,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium, ...","11 JANUARY, 2024",7:00 PM IST
9,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore","14 JANUARY, 2024",7:00 PM IST
10,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru","17 JANUARY, 2024",7:00 PM IST
11,ENGLAND TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad","25 JANUARY, 2024",9:30 AM IST
12,ENGLAND TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,"2 FEBRUARY, 2024",9:30 AM IST
13,ENGLAND TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot","15 FEBRUARY, 2024",9:30 AM IST
14,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi","23 FEBRUARY, 2024",9:30 AM IST
15,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [111]:
#Opening the statisticstimes.com page on automated Chrome browser
driver=webdriver.Chrome()
driver.get("https://www.statisticstimes.com/")
delay=10
try:
    element=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
    print(element)
except StaleElementReferenceException as e:
    print("Exception Raised: ",e)
    print("Refershing the page!!")
    driver.get("https://www.statisticstimes.com/")
    WebDriverWait(driver,delay).until(EC.presence_of_all_elements_located((By.CLASS_NAME,'dropdown-content')))
    element=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
    print(element)

<selenium.webdriver.remote.webelement.WebElement (session="2f7682f8cb9c8189fccce180d112921e", element="044D3FBCD114B0CDD95B3108C6E01EF3_element_16")>

In [115]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]')
search.click()
search1=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
search1.click()

In [116]:
search_stategdp=driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]')
search_stategdp.click()

In [117]:
#Data of 2018-19 is not available on website. So, data of 2021-22 and 2022-23 is scraping.

In [124]:
state=[]

try:
    state_tag=driver.find_elements(By.XPATH,'//tr[@role="row"]/td[2]')
    for i in state_tag:
        state.append(i.text)
except NoSuchElementException:
    state.append('_')

In [121]:
states=state[:33]

In [153]:
gsdp22=[]

try:
    gsdp22_tag=driver.find_elements(By.XPATH,'//tr[@role="row"]/td[4]')
    for i in gsdp22_tag:
        gsdp22.append(i.text)
except NoSuchElementException:
    gsdp22.append('_')

In [154]:
gsdp2122=gsdp22[:33]

In [131]:
gsdp23=[]

try:
    gsdp23_tag=driver.find_elements(By.XPATH,'//tr[@role="row"]/td[3]')
    for i in gsdp23_tag:
        gsdp23.append(i.text)
except NoSuchElementException:
    gsdp23.append('_')

In [134]:
gsdp2223=gsdp23[:33]

In [136]:
share=[]

try:
    share_tag=driver.find_elements(By.XPATH,'//tr[@role="row"]/td[5]')
    for i in share_tag:
        share.append(i.text)
except NoSuchElementException:
    share.append('_')

In [161]:
share2122=share[:33]

In [142]:
gdp=[]

try:
    gdp_tag=driver.find_elements(By.XPATH,'//tr[@role="row"]/td[6]')
    for i in gdp_tag:
        gdp.append(i.text)
except NoSuchElementException:
    gdp.append('_')

In [144]:
gdp2021=gdp[:33]

In [162]:
print(len(states),len(gsdp2122),len(gsdp2223),len(share2122),len(gdp2021))

33 33 33 33 33

In [163]:
df2=pd.DataFrame({'Rank':np.arange(1,34),'State':states,'GSDP(21-22)- at current prices':gsdp2122,
                  'GSDP(22-23)- at current prices':gsdp2223,'Share(21-22)':share2122,'GDP($ billion)':gdp2021})

In [164]:
df2

,Rank,State,GSDP(21-22)- at current prices,GSDP(22-23)- at current prices,Share(21-22),GDP($ billion)
0,1,Maharashtra,"3,108,022",-,13.24%,417.163
1,2,Tamil Nadu,"2,071,286","2,364,514",8.82%,278.011
2,3,Uttar Pradesh,"1,974,532","2,257,575",8.41%,265.024
3,4,Karnataka,"1,962,725","2,241,368",8.36%,263.440
4,5,Gujarat,"1,937,066",-,8.25%,259.996
5,6,West Bengal,"1,363,926","1,554,992",5.81%,183.068
6,7,Rajasthan,"1,218,193","1,413,620",5.19%,163.507
7,8,Madhya Pradesh,"1,136,137","1,322,821",4.84%,152.494
8,9,Andhra Pradesh,"1,133,837","1,317,728",4.83%,152.185
9,10,Telangana,"1,128,907","1,313,391",4.81%,151.523
10,11,Kerala,"932,470",-,3.97%,125.157
11,12,Delhi,"904,642","1,043,759",3.85%,121.422
12,13,Haryana,"870,665","994,154",3.71%,116.862
13,14,Odisha,"670,881","774,869",2.86%,90.047
14,15,Bihar,"650,302","751,396",2.77%,87.284
15,16,Punjab,"614,227","673,107",2.62%,82.442
16,17,Assam,"412,612","493,167",1.76%,55.381
17,18,Chhattisgarh,"406,416","457,608",1.73%,54.550
18,19,Jharkhand,"358,863","393,722",1.53%,48.167
19,20,Uttarakhand,"272,159","302,621",1.16%,36.530
20,21,Jammu & Kashmir-UT,"199,917","227,927",0.85%,26.833
21,22,Himachal Pradesh,"176,269","195,405",0.75%,23.659
22,23,Goa,"82,604",-,0.35%,11.087
23,24,Tripura,"62,550","72,636",0.27%,8.396
24,25,Chandigarh,"45,635",-,0.19%,6.125
25,26,Puducherry,"44,238",-,0.19%,5.938
26,27,Meghalaya,"38,785","42,697",0.17%,5.206
27,28,Sikkim,"37,557","42,756",0.16%,5.041
28,29,Manipur,"36,594",-,0.16%,4.912
29,30,Arunachal Pradesh,"35,124",-,0.15%,4.714
30,31,Nagaland,"31,913",-,0.14%,4.283
31,32,Mizoram,"27,824",-,0.12%,3.735
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.392

# 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code

In [165]:
driver=webdriver.Chrome()

In [166]:
#Opening the github.com page on automated Chrome browser

In [169]:
driver=webdriver.Chrome()
driver.get("https://github.com/")
delay=10
try:
    element=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
    print(element)
except StaleElementReferenceException as e:
    print("Exception Raised: ",e)
    print("Refershing the page!!")
    driver.get("https://github.com/")
    WebDriverWait(driver,delay).until(EC.presence_of_all_elements_located((By.CLASS_NAME,'button')))
    element=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
    print(element)

<selenium.webdriver.remote.webelement.WebElement (session="0b2fb78a5ed2acf94c06c957701eea1e", element="F475C3D8A44F3F6934FBD1174C342F41_element_17")>

In [170]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
search.click()
search1=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
search1.click()

In [172]:
rt=[]

try:
    rt_tag=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for i in rt_tag:
        rt.append(i.text)
except NoSuchElementException:
    rt.append('_')

In [236]:
desc=[]

try:
    desc_tag=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in desc_tag:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('_')

In [232]:
desc[3]='no description'

In [201]:
cc=[]

try:
    cc_tag=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[1]')
    for i in cc_tag:
        cc.append(i.text)
except NoSuchElementException:
    cc.append('_')

In [182]:
lu=[]

try:
    lu_tag=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span[1]')
    for i in lu_tag:
        lu.append(i.text.replace('Built by','-'))
except NoSuchElementException:
    lu.append('_')

In [239]:
print(len(rt),len(desc),len(cc),len(lu))

25 25 25 25

In [240]:
df3=pd.DataFrame({'Repository title':rt,'Repository description':desc,'Contributors count':cc,'Language used':lu})

In [241]:
df3

,Repository title,Repository description,Contributors count,Language used
0,Pythagora-io / gpt-pilot,Dev tool that writes scalable apps from scratc...,"17,351",Python
1,mnotgod96 / AppAgent,AppAgent: Multimodal Agents as Smartphone User...,"1,318",Python
2,cumulo-autumn / StreamDiffusion,StreamDiffusion: A Pipeline-Level Solution for...,"2,898",Python
3,ton-community / tsc5,no description,56,TypeScript
4,mckaywrigley / chatbot-ui,The open-source AI chat interface for everyone.,"19,734",TypeScript
5,Anuken / Mindustry,The automation tower defense RTS,"20,121",Java
6,NationalSecurityAgency / ghidra,Ghidra is a software reverse engineering (SRE)...,"44,925",Java
7,beeper / imessage,A Matrix-iMessage puppeting bridge.,743,Go
8,labring / FastGPT,FastGPT is a knowledge-based QA system built o...,"7,610",TypeScript
9,heyman / heynote,A dedicated scratchpad for developers,"1,154",JavaScript
10,AmruthPillai / Reactive-Resume,A one-of-a-kind resume builder that keeps your...,"15,277",TypeScript
11,papers-we-love / papers-we-love,Papers from the computer science community to ...,"79,044",Shell
12,jwasham / coding-interview-university,A complete computer science study plan to beco...,"273,986",-
13,guoqincode / AnimateAnyone-unofficial,Unofficial Implementation of Animate Anyone,761,Python
14,lllyasviel / Fooocus,Focus on prompting and generating,"26,393",Python
15,SillyTavern / SillyTavern,LLM Frontend for Power Users.,"4,258",JavaScript
16,SoftFever / OrcaSlicer,"G-code generator for 3D printers (Bambu, Prusa...","3,283",C++
17,cloudcommunity / Free-Certifications,A curated list of free courses & certifications.,"16,443",-
18,jianchang512 / clone-voice,"A sound cloning tool with a web interface, usi...","3,069",Python
19,sundowndev / phoneinfoga,Information gathering framework for phone numbers,"11,279",Go
20,termux / termux-app,Termux - a terminal emulator application for A...,"27,367",Java
21,public-apis / public-apis,A collective list of free APIs,"272,900",Python
22,shadcn-ui / ui,Beautifully designed components that you can c...,"37,815",TypeScript
23,karanpratapsingh / system-design,Learn how to design systems at scale and prepa...,"23,351",-
24,firstcontributions / first-contributions,🚀✨ Help beginners to contribute to open source...,"39,913",-

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [4]:
driver=webdriver.Chrome()

In [5]:
#Opening the billboard.com page on automated Chrome browser

driver.get("https://www.billboard.com/")

In [11]:
#Opening the billboard.com page on automated Chrome browser

driver=webdriver.Chrome()
driver.get("https://www.billboard.com/")
delay=10
try:
    element=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div[1]/div[2]/div/div[1]/div/div[1]/div[2]/h3/a')
    element.click()
    print(element)
except StaleElementReferenceException as e:
    print("Exception Raised: ",e)
    print("Refershing the page!!")
    driver.get("https://www.billboard.com/")
    WebDriverWait(driver,delay).until(EC.presence_of_all_elements_located((By.CLASS_NAME,'dropdown-content')))
    element=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div[1]/div[2]/div/div[1]/div/div[1]/div[2]/h3/a')
    print(element)

<selenium.webdriver.remote.webelement.WebElement (session="13e3290cc29f35fe95807cb23827018f", element="3BEA59C39A28DE65789AC0C5D7A1DC23_element_109")>

In [29]:
sn=[]
an=[]
lwr=[]
pr=[]

In [30]:
sn=[]

try:
    sn_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
    for i in sn_tag:
        sn.append(i.text)
except NoSuchElementException:
    sn.append('_')

In [54]:
an=[]

try:
    an_tag=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // lrv-u-flex-grow-1 lrv-u-flex lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-padding-l-050 lrv-u-padding-l-1@mobile-max"]/span')
    for i in an_tag:
        an.append(i.text)
except NoSuchElementException:
    an.append('_')

In [32]:
lwr=[]

try:
    lwr_tag=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span')
    for i in lwr_tag:
        lwr.append(i.text)
except NoSuchElementException:
    lwr.append('_')

In [33]:
lr=lwr[::2]

In [34]:
wb=lwr[1::2]

In [37]:
pr=[]

try:
    pr_tag=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"][2]')
    for i in pr_tag:
        pr.append(i.text)
except NoSuchElementException:
    pr.append('_')

In [55]:
an.insert(0,'Mariah Carey')

In [56]:
print(len(sn),len(an),len(lr),len(wb),len(pr))

100 100 100 100 100

In [57]:
df4=pd.DataFrame({'Song name':sn, 'Artist Name':an, 'Last Week Rank':lr, 'Peak Rank':pr, 'Weeks on Board':wb})

In [58]:
df4

,Song name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,All I Want For Christmas Is You,Mariah Carey,1,1,64
1,Rockin' Around The Christmas Tree,Brenda Lee,2,1,57
2,Jingle Bell Rock,Bobby Helms,3,3,55
3,Last Christmas,Wham!,4,4,37
4,A Holly Jolly Christmas,Burl Ives,5,4,38
...,...,...,...,...,...
95,Winter Wonderland,Chloe,-,96,1
96,Run For The Hills,Tate McRae,69,69,2
97,Que Onda,Calle 24 x Chino Pacas x Fuerza Regida,92,61,12
98,Great Gatsby,Rod Wave,-,30,13
99,One Of The Girls,"The Weeknd, JENNIE & Lily Rose Depp",-,100,1

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [4]:
#Opening theguardian.com website for scraping data.
driver=webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [5]:
bn=[]

try:
    bn_tag=driver.find_elements(By.XPATH,'//td[/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[1]/td[2]]')
    for i in bn_tag:
        bn.append(i.text)
except NoSuchElementException:
    bn.append('_')

In [51]:
bk=bn[1::6]

In [53]:
an=bn[2::6]

In [57]:
vs=bn[3::6]

In [59]:
pb=bn[4::6]

In [61]:
ge=bn[5::6]

In [63]:
df5=pd.DataFrame({'Book Name':bk,'Author name':an,'Volumes Sold':vs,'Publisher':pb,'Genre':ge})

In [64]:
df5

,Book Name,Author name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls088281706/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [2]:
#Opening imdb.com website for scraping data.
driver=webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls088281706/")

In [3]:
nm=[]

try:
    nm_tag=driver.find_elements(By.XPATH,'//h3[/html/body/div[2]/div/div[2]/div/div[1]/div/div[3]/div[3]/div[1]/div[2]/h3]')
    for i in nm_tag:
        nm.append(i.text)
except NoSuchElementException:
    nm.append('_')

In [4]:
nm=nm[:19]

In [6]:
ge=[]

try:
    ge_tag=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in ge_tag:
        ge.append(i.text)
except NoSuchElementException:
    ge.append('_')

In [8]:
rt=[]

try:
    rt_tag=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in rt_tag:
        rt.append(i.text)
except NoSuchElementException:
    rt.append('_')

In [12]:
rat=[]

try:
    rat_tag=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]')
    for i in rat_tag:
        rat.append(i.text.replace('\nRate',''))
except NoSuchElementException:
    rat.append('_')

In [14]:
vot=[]

try:
    vot_tag=driver.find_elements(By.XPATH,'//span[@name="nv"]')
    for i in vot_tag:
        vot.append(i.text.replace('\nRate',''))
except NoSuchElementException:
    vot.append('_')

In [17]:
print(len(nm),len(ge),len(rt),len(rat),len(vot))

19 19 19 19 19

In [16]:
df6=pd.DataFrame({'Name & Year Span':nm,'Genre':ge,'Run Time':rt,'Rating':rat,'Votes':vot})

In [18]:
df6

,Name & Year Span,Genre,Run Time,Rating,Votes
0,1. Breaking Bad (2008–2013),"Crime, Drama, Thriller","3,030 min",9.5,"2,079,511"
1,2. Stranger Things (2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,301,109"
2,3. Dexter (2006–2013),"Crime, Drama, Mystery","5,076 min",8.7,"754,092"
3,4. Chernobyl (2019),"Drama, History, Thriller",330 min,9.3,"838,158"
4,5. True Detective (2014– ),"Crime, Drama, Mystery",55 min,8.9,"619,116"
5,6. House of Cards (2013–2018),Drama,"3,804 min",8.6,"525,023"
6,7. Black Mirror (2011– ),"Drama, Mystery, Sci-Fi",60 min,8.7,"623,887"
7,8. Narcos (I) (2015–2017),"Biography, Crime, Drama",49 min,8.8,"459,426"
8,9. Peaky Blinders (2013–2022),"Crime, Drama","2,109 min",8.8,"623,592"
9,10. Better Call Saul (2015–2022),"Crime, Drama","3,154 min",9,"622,877"
10,11. Fargo (2014–2024),"Crime, Drama, Thriller",53 min,8.9,"400,940"
11,12. Shameless (2011–2021),"Comedy, Drama",46 min,8.5,"272,663"
12,13. The Crown (2016–2023),"Biography, Drama, History",58 min,8.6,"245,956"
13,14. Succession (2018–2023),"Comedy, Drama",60 min,8.9,"249,844"
14,15. How I Met Your Mother (2005–2014),"Comedy, Drama, Romance","4,576 min",8.3,"718,410"
15,16. The Big Bang Theory (2007–2019),"Comedy, Romance","5,702 min",8.2,"851,825"
16,17. Money Heist (2017–2021),"Action, Crime, Drama",70 min,8.2,"517,160"
17,18. The Blacklist (2013–2023),"Crime, Drama, Mystery",43 min,7.9,"274,668"
18,19. The Handmaid's Tale (2017– ),"Drama, Sci-Fi, Thriller",60 min,8.4,"253,369"

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [3]:
#Opening the billboard.com page on automated Chrome browser

driver=webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")
delay=10
try:
    element=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
    element.click()
    print(element)
except StaleElementReferenceException as e:
    print("Exception Raised: ",e)
    print("Refershing the page!!")
    driver.get("https://archive.ics.uci.edu/")
    WebDriverWait(driver,delay).until(EC.presence_of_all_elements_located((By.CLASS_NAME,'dropdown-content')))
    element=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
    element.click()
    print(element)

<selenium.webdriver.remote.webelement.WebElement (session="b788e3f57e0980635cfddd5edd48dbb1", element="6249A3B5D75190D16576C7779D1DD97F_element_10")>

In [14]:
dn=[]
dt=[]
ts=[]
at=[]
ni=[]
na=[]
yr=[]

In [37]:
start=0
end=10

for page in range (start,end):
    xpd_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
    xpd_button.click()
    xpd_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[1]')
    xpd_button.click()
    dn_tag=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
    for i in dn_tag:
        dn.append(i.text)
    dt_tag=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][2]')
    for i in dt_tag:
        dt.append(i.text)
    ts_tag=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][1]')
    for i in ts_tag:
        ts.append(i.text)
    at_tag=driver.find_elements(By.XPATH,'//td[/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div[2]/div/table/tbody/tr][2]')
    for i in at_tag:
        at.append(i.text)
    ni_tag=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][3]')
    for i in ni_tag:
        ni.append(i.text)
    na_tag=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][4]/span')
    for i in na_tag:
        na.append(i.text)
    yr_tag=driver.find_elements(By.XPATH,'//td[/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div[2]/div/table/tbody/tr][3]')
    for i in yr_tag:
        yr.append(i.text)
    
           
    next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_button.click()
    time.sleep(3)

In [38]:
#Unable to fetch full data of Attribute Type & Year.
print(len(dn),len(dt),len(ts),len(at),len(ni),len(na),len(yr))

340 334 338 50 334 295 50

In [39]:
df7=pd.DataFrame({'Dataset Name':dn[:50],'Data Type':dt[:50],'Task':ts[:50],'Attribute Type':at[:50],'No. of Instances':ni[:50],'No. of Attribute':na[:50],'Year':yr[:50]})

In [40]:
df7

,Dataset Name,Data Type,Task,Attribute Type,No. of Instances,No. of Attribute,Year
0,Iris,Tabular,Classification,Integer,150 Instances,4 Features,3/26/2015
1,Dry Bean Dataset,Multivariate,Classification,Categorical,13.61K Instances,16 Features,10/1/1992
2,Rice (Cammeo and Osmancik),Multivariate,Classification,Integer,3.81K Instances,7 Features,3/4/1999
3,Heart Disease,Multivariate,Classification,Real,303 Instances,13 Features,2/15/2017
4,Adult,Multivariate,Classification,Categorical,48.84K Instances,14 Features,1/1/1992
5,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,8/3/2020
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Integer,569 Instances,30 Features,10/4/2018
7,Diabetes,"Multivariate, Time-Series",Classification,Real,1 Instances,20 Features,3/22/2023
8,Wine Quality,Multivariate,"Classification, Regression",Integer,4.9K Instances,12 Features,9/12/1994
9,Car Evaluation,Multivariate,Classification,"Categorical, Integer, Real",1.73K Instances,6 Features,2/28/1989
10,Bank Marketing,Multivariate,Classification,Real,45.21K Instances,17 Features,7/1/1988
11,Mushroom,Multivariate,Classification,"Integer, Real",8.12K Instances,22 Features,9/14/2020
12,Abalone,Tabular,"Classification, Regression",Real,4.18K Instances,8 Features,10/6/2019
13,Census Income,Multivariate,Classification,"Categorical, Integer, Real",48.84K Instances,14 Features,7/1/1988
14,Student Performance,Multivariate,"Classification, Regression","Categorical, Integer",649 Instances,33 Features,5/1/1996
15,Statlog (German Credit Data),Multivariate,Classification,"Integer, Real",1K Instances,20 Features,7/1/1991
16,Automobile,Multivariate,Regression,Real,205 Instances,25 Features,11/1/1995
17,Breast Cancer,Multivariate,Classification,"Categorical, Integer",286 Instances,9 Features,N/A
18,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering",Real,541.91K Instances,8 Features,10/7/2009
19,Auto MPG,Multivariate,Regression,Categorical,398 Instances,7 Features,6/1/1997
20,Breast Cancer Wisconsin (Original),Multivariate,Classification,Real,699 Instances,9 Features,7/1/1988
21,Spambase,Multivariate,Classification,"Integer, Real",4.6K Instances,57 Features,9/14/2020
22,Predict students' dropout and academic success,Tabular,Classification,Real,4.42K Instances,36 Features,10/6/2019
23,Glass Identification,Multivariate,Classification,"Categorical, Integer, Real",214 Instances,9 Features,7/1/1988
24,Thyroid Disease,"Multivariate, Domain-Theory",Classification,"Categorical, Integer",7.2K Instances,5 Features,5/1/1996
25,Credit Approval,Multivariate,Classification,"Integer, Real",690 Instances,15 Features,7/1/1991
26,Air Quality,"Multivariate, Time-Series",Regression,Real,9.36K Instances,15 Features,11/1/1995
27,Optical Recognition of Handwritten Digits,Multivariate,Classification,"Categorical, Integer",5.62K Instances,64 Features,N/A
28,Zoo,Multivariate,Classification,Real,101 Instances,16 Features,10/7/2009
29,Online Retail II,"Multivariate, Sequential, Time-Series, Text","Classification, Regression, Clustering",Categorical,1.07M Instances,8 Features,6/1/1997
30,default of credit card clients,Multivariate,Classification,Real,30K Instances,24 Features,7/1/1988
31,Human Activity Recognition Using Smartphones,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",10.3K Instances,561 Features,9/14/2020
32,Bike Sharing Dataset,Multivariate,Regression,Real,17.39K Instances,16 Features,10/6/2019
33,Lung Cancer,Multivariate,Classification,"Categorical, Integer, Real",32 Instances,56 Features,7/1/1988
34,Liver Disorders,Multivariate,Regression,"Categorical, Integer",345 Instances,5 Features,5/1/1996
35,Covertype,Multivariate,Classification,"Integer, Real",581.01K Instances,54 Features,7/1/1991
36,SMS Spam Collection,"Multivariate, Text, Domain-Theory","Classification, Clustering",Real,5.57K Instances,16 Features,11/1/1995
37,Letter Recognition,Multivariate,Classification,"Categorical, Integer",20K Instances,34 Features,N/A
38,Ionosphere,Multivariate,Classification,Real,351 Instances,9 Features,10/7/2009
39,Individual household electric power consumption,"Multivariate, Time-Series","Regression, Clustering",Categorical,2.08M Instances,24 Features,6/1/1997
40,default of credit card clients,Multivariate,Classification,Real,30K Instances,561 Features,7/1/1988
41,Human Activity Recognition Using Smartphones,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",10.3K Instances,16 Features,9/14/2020
42,Bike Sharing Dataset,Multivariate,Regression,Real,17.39K Instances,56 Features,10/6/2019
43,Lung Cancer,Multivariate,Classification,"Categorical, Integer, Real",32 Instances,5 Features,7/1/1988
44,Liver Disorders,Multivariate,Regression,"Categorical, Integer",345 Instances,54 Features,5/1/1996
45,Covertype,Multivariate,Classification,"Integer, Real",581.01K Instances,16 Features,7/1/1991
46,SMS Spam Collection,"Multivariate, Text, Domain-Theory","Classification, Clustering",Real,5.57K Instances,34 Features,11/1/1995
47,Letter Recognition,Multivariate,Classification,"Categorical, Integer",20K Instances,9 Features,N/A
48,Ionosphere,Multivariate,Classification,Real,351 Instances,60 Features,10/7/2009
49,Individual household electric power consumption,"Multivariate, Time-Series","Regression, Clustering",Categorical,2.08M Instances,19 Features,6/1/1997